doctype html
html

  head
    title Tastichat

  body

    #app

    script(src="vendor-bundle.js")
    script(src="app-bundle.js")
    script.
      ReactOnRails.render("TastichatApp", { messages: [{ sent_at: '2016-03-24T00:00:00Z', body: "s", author: "d", localId: null, state: "RECEIVED", id: 34 }] }, 'app');
