doctype html
html

  head
    title SamChat

  body

    #app

    script(src="vendor-bundle.js")
    script(src="app-bundle.js")
    script.
      ReactOnRails.render("SamChatApp", {"messages":[{"key":1,"author":"Luke","body":"Thanks for the teaching Obi Wan!"},{"key":2,"author":"Yoda","body":"Great teacher Obi Wan is"}]}, 'app');
