doctype html
html

  head
    title SamChat

  body

    #app

    script(src="vendor-bundle.js")
    script(src="app-bundle.js")
    script.
      ReactOnRails.render("SamChatApp", {"messages":[]}, 'app');
