.messages-list {
  &__message {
    &--sending {
      color: grey;
    }

    &--failed {
      color: red;
    }
  }

  list-style-type: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px; // space for the message send box
  margin: 0;
}
