$message-meta-size: 150px;

.message {
  display: flex;
  flex-direction: row;
  align-items: top;
  // TODO: vertical align of meta and body
}

.message__body {
  margin-top: 6px; // makes the message alignment slightly more aesthetically pleasing
  flex-grow: 1;
  position: relative;
}

.message__body--sent {
  color: $base-font-color;
}

.message__body--sending {
  color: $medium-gray;
}

.message__body--failed {
  color: $red;
}

// The speech bubble
.message__bubble {
  font-family: $font-stack-system;
  padding: $base-spacing;
  margin: 0 $base-spacing $base-spacing $base-spacing;
  border-radius: 10px;
  position: relative;
}

.message__sent-at {
  position: absolute;
  bottom: -30px; // puts the date underneat the message bubble
  right: $base-spacing;
}

// Contains author and send time
.message__meta {
  width: $message-meta-size;
  height: $message-meta-size;
  padding: 0 $base-spacing $base-spacing $base-spacing;
  text-align: center;
}

// The author's avatar
.message__avatar {
  height: $small-avatar-height;
}

// The name of the message author
.message__author {
  font-size: 0.75em;
}

.message__sent-at {
  font-family: $font-stack-system;
  font-style: italic;
}
