.messages-list {
  &__message {
    &--sending {
      color: grey;
    }

    &--failed {
      color: red;
    }
  }

  list-style-type: none;
  padding-top: $base-spacing;
  padding-bottom: $write-message-height;
  margin: 0;
}
