.message {
  position: relative;
}

// The speech bubble
.message__body {
  font-family: $font-stack-system;
  padding: $base-spacing;
  margin: 0 $base-spacing $base-spacing $base-spacing;
  border-radius: 10px;
}

.message__body--sent {

}

.message__body--sending {

}

.message__body--failed {

}

// The author of the message, goes to the left
.message__author {

}
