.write-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 8px solid; // Colour is set in React programmatically
  height: $write-message-height;
  padding-left: 8px;
  outline: none;
  z-index: 1;
  margin-bottom: 0;
}
