.page {
  @include outer-container;
  @include fill-parent;

  // width: 100%;
  position: relative;
  height: 100%;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

.page--visible {
  opacity: 1;
  visibility: visible;
}

.page--hidden {
  opacity: 0;
  visibility: hidden;

  // HACK: because invisible elements still take up space, we have to peg the
  // page to the top to avoid it being pushed down. Toggling display: none;
  // would be better, but there is no way to transition this with pure CSS.
  height: 0px;
  position: absolute;
  top: 0px;
}
