.page {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

.page--visible {
  opacity: 1;
  visibility: visible;
}

.page--hidden {
  opacity: 0;
  visibility: hidden;
}
