.login {
  // background-color: rgb($red, $green, $blue); // random background color!
}

.login__box {
  // Colour is set programmatically in React
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

.login__label {
  font-weight: 100;
  font-size: 200%;
}

.login__button {
  display: block;
  margin: auto;
  width: $login-button-width;
}

.login__avatar {
  display: block;
  margin: auto;
  height: $avatar-height;
  padding: $base-spacing;
}
