/*
 *= require_self
 */

html {
  font-weight: 300;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}

@import "bourbon";
@import "neat";
@import "sam_chat/index";
