@font-face {
  font-family: "samurai";
  src: asset-url("samurai.ttf") format("truetype");
}

@font-face {
  font-family: "Shoguns Clan";
  src: asset-url("shoguns_clan.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
  font-family: samurai;
}
